<header>
    <nav class="navbar">
      <a class="navbar-title" href="#">Moja szybka fakturka</a>
      <ul class="navbar-list">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/invoice"
            routerLinkActive="active-link"
            >Faktura</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  